<a href="https://colab.research.google.com/github/lukmanfauzirosidin/lukmanfauzirosidin.github.io/blob/master/kajojo_analyst.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import auth
auth.authenticate_user()

import gspread
from google.auth import default
creds, _ = default()
import numpy as np
gc = gspread.authorize(creds)

worksheet = gc.open('Database Kajojo').sheet1

# get_all_values gives a list of rows.
rows = worksheet.get_all_values()

# Convert to a DataFrame and render.
import pandas as pd
df = pd.DataFrame.from_records(rows[1:], columns=rows[0])

In [2]:
df.head(5)

,No Faktur,Tanggal,Nama Outlet,Nama Kasir,Jam,Kategori,Deskripsi Produk,Produk,Ice or Hot,Modifier,...,Tipe Diskon per Barang,Diskon Transaksi,Tipe Diskon Transaksi,Pajak,Subtotal,Status,Metode Pembayaran,Tipe,,
0,16113C6M,10/06/2021,Pusat,Kajojo,13:23:35,Coffee,"Americano, Ice",Americano,Ice,,...,,0,,0,Rp0,Dibatalkan,CASH,Offline,,
1,16113TV9,10/06/2021,Pusat,Kajojo,13:22:56,Coffee,"Americano, Ice",Americano,Ice,,...,,0,,0,Rp0,Dibatalkan,CASH,Offline,GoFood,Online
2,16113O0L,10/06/2021,Pusat,Kajojo,13:21:24,Coffee,"Americano, Ice",Americano,Ice,,...,,0,,0,Rp0,Dibatalkan,CASH,Offline,GrabFood,Online
3,16113OKG,10/06/2021,Pusat,Kajojo,13:20:51,Coffee,"Americano, Ice",Americano,Ice,,...,,0,,0,Rp0,Dibatalkan,CASH,Offline,ShopFood,Online
4,16822N6C,17/06/2021,Pusat,Rizal,22:49:42,Coffee,"Coffee Latte, Ice",Coffee Latte,Ice,,...,,0,,0,Rp0,Dibatalkan,CASH,Offline,,

Add Month

In [3]:
df['Month'] = df['Tanggal'].str[3:5]
df['Month'] = df['Month'].astype(int)
df = df[df['Status'] != "Dibatalkan"]

In [4]:
df['Years'] = df['Tanggal'].str[6:]
df['Years'] = df['Years'].astype(int)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [5]:
df['Subtotal'] = df['Subtotal'].replace({'Rp':'', '\.':''}, regex = True)
df['Subtotal'] = df['Subtotal'].astype(int)

Convert Dtypes

In [6]:
#df['Barang Terjual'] = df['Barang Terjual'].astype(int)
df['Jumlah Barang'] = df['Jumlah Barang'].astype(int)
df['Jumlah Harga'] = df['Jumlah Harga'].astype(int)
df['Tipe'] = df['Tipe'].astype(object)

group produk by no faktur

In [7]:
df['Grouped'] = df.groupby('No Faktur')['Produk '].transform(lambda x: ','.join(x))
dft = df[['No Faktur', 'Grouped']].drop_duplicates()

In [8]:
df

,No Faktur,Tanggal,Nama Outlet,Nama Kasir,Jam,Kategori,Deskripsi Produk,Produk,Ice or Hot,Modifier,...,Pajak,Subtotal,Status,Metode Pembayaran,Tipe,,,Month,Years,Grouped
8,16821G6X,17/06/2021,Pusat,Rizal,21:03:40,Coffee,"Avocado Latte, Ice",Avocado Latte,Ice,,...,0,17000,Transaksi,QRIS,Offline,,,6,2021,"Avocado Latte,Hazelnut Latte,Regal Kajojo,sofood"
9,16821QYG,17/06/2021,Pusat,Rizal,21:01:01,Coffee,"Coffee Latte, Ice",Coffee Latte,Ice,,...,0,15000,Transaksi,QRIS,Offline,,,6,2021,"Coffee Latte,Regal Kajojo,sofood"
10,16821G6X,17/06/2021,Pusat,Rizal,21:03:40,Coffee,"Hazelnut Latte, Ice",Hazelnut Latte,Ice,,...,0,17000,Transaksi,QRIS,Offline,,,6,2021,"Avocado Latte,Hazelnut Latte,Regal Kajojo,sofood"
11,16821G6X,17/06/2021,Pusat,Rizal,21:03:40,Cookies,"Regal Kajojo,",Regal Kajojo,,,...,0,15000,Transaksi,QRIS,Offline,,,6,2021,"Avocado Latte,Hazelnut Latte,Regal Kajojo,sofood"
12,16821QYG,17/06/2021,Pusat,Rizal,21:01:01,Cookies,"Regal Kajojo,",Regal Kajojo,,,...,0,15000,Transaksi,QRIS,Offline,,,6,2021,"Coffee Latte,Regal Kajojo,sofood"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16974,19320Z4I,11/07/2020,Pusat,Kajojo,20:00:37,#N/A,"Soerabi Meses,",Soerabi Meses,,,...,0,7000,Transaksi,CASH,Offline,,,7,2020,"Coffee Latte,Cookies & Cream Oreo,Regal,Soerab..."
16975,19320Z4I,11/07/2020,Pusat,Kajojo,20:00:37,#N/A,"Soerabi Tiramisu,",Soerabi Tiramisu,,,...,0,7000,Transaksi,CASH,Offline,,,7,2020,"Coffee Latte,Cookies & Cream Oreo,Regal,Soerab..."
16976,19317WG0,11/07/2020,Pusat,Kajojo,17:20:09,#N/A,"Coffee Latte, Caramel Latte",Coffee Latte,Caramel Latte,,...,0,14000,Transaksi,CASH,Offline,,,7,2020,"Coffee Latte,Regal"
16977,19317WG0,11/07/2020,Pusat,Kajojo,17:20:09,#N/A,"Regal,",Regal,,,...,0,12000,Transaksi,CASH,Offline,,,7,2020,"Coffee Latte,Regal"
16978,19316GHR,11/07/2020,Pusat,Kajojo,16:49:45,#N/A,"Coffee Latte, Brown Sugar Latte",Coffee Latte,Brown Sugar Latte,,...,0,14000,Transaksi,CASH,Offline,,,7,2020,Coffee Latte

In [9]:
dft

      No Faktur                                            Grouped
8      16821G6X   Avocado Latte,Hazelnut Latte,Regal Kajojo,sofood
9      16821QYG                   Coffee Latte,Regal Kajojo,sofood
15     169208RP  Coffee Latte,Susu Caramel Latte,Susu Caramel L...
16     16915OQ6                                       Coffee Latte
17     16917RST                                     Hazelnut Latte
...         ...                                                ...
16966  193219WR                          Coffee Latte,Matcha,Regal
16969  19320HHA                        Cookies & Cream Oreo,Matcha
16971  19320Z4I  Coffee Latte,Cookies & Cream Oreo,Regal,Soerab...
16976  19317WG0                                 Coffee Latte,Regal
16978  19316GHR                                       Coffee Latte

[9505 rows x 2 columns]

Pasangan produk berdasarkan transaksi

In [10]:
from itertools import combinations
from collections import Counter

count = Counter()

for row in dft['Grouped']:
	row_list = row.split(',')
	count.update(Counter(combinations(row_list, 2)))

for key, value in count.most_common(20):
	print(key, value)

('Coffee Latte', 'Ice Cream Croffle') 149
('Coffee Latte', 'Coffee Latte') 132
('Coffee Latte', 'Kentang Goreng') 127
('Coffee Latte', 'Cuanki Ngeunah') 97
('Ice Cream Croffle', 'Kentang Goreng') 95
('Coffee Latte', 'Cookies & Cream Oreo') 82
('Ice Cream Croffle', 'Lotus Croffle') 79
('Caramel Latte', 'Coffee Latte') 74
('Ice Cream Croffle', 'Tiramisu Croffle') 71
('Ice Cream Croffle', 'Cuanki Ngeunah') 71
('Aren Latte', 'Coffee Latte') 70
('Coffee Latte', 'Hazelnut Latte') 69
('Coffee Latte', 'Matcha') 59
('Coffee Latte', 'Rotbar Cokelat Crunchy') 59
('Choco Crunch Croffle', 'Ice Cream Croffle') 58
('Coffee Latte', 'Regal') 57
('Coffee Latte', 'Regal Kajojo') 52
('Ice Cream Croffle', 'Meekajo') 52
('Hazelnut Latte', 'Kentang Goreng') 47
('Coffee Latte', 'Meekajo') 47

In [11]:
df.describe()

       Jumlah Barang   Jumlah Harga       Subtotal         Month         Years
count   16133.000000   16133.000000   16133.000000  16133.000000  16133.000000
mean        1.109961   15931.227546   15605.468853      6.835554   2021.027645
std         0.408116    6555.905134    6575.335286      4.035476      0.671572
min         1.000000       0.000000       0.000000      1.000000   2020.000000
25%         1.000000   12000.000000   12000.000000      3.000000   2021.000000
50%         1.000000   15000.000000   15000.000000      8.000000   2021.000000
75%         1.000000   18000.000000   17250.000000     11.000000   2021.000000
max        10.000000  135000.000000  135000.000000     12.000000   2022.000000

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16133 entries, 8 to 16978
Data columns (total 28 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   No Faktur               16133 non-null  object
 1   Tanggal                 16133 non-null  object
 2   Nama Outlet             16133 non-null  object
 3   Nama Kasir              16133 non-null  object
 4   Jam                     16133 non-null  object
 5   Kategori                16133 non-null  object
 6   Deskripsi Produk        16133 non-null  object
 7   Produk                  16133 non-null  object
 8   Ice or Hot              16133 non-null  object
 9   Modifier                16133 non-null  object
 10  Jumlah Barang           16133 non-null  int64
 11  Jumlah dibatalkan       16133 non-null  object
 12  Harga Per Barang        16133 non-null  object
 13  Jumlah Harga            16133 non-null  int64
 14  Diskon Per Barang       16133 non-null  object
 15  Tipe Diskon per Barang  16133 non-null  object
 16  Diskon Transaksi        16133 non-null  object
 17  Tipe Diskon Transaksi   16133 non-null  object
 18  Pajak                   16133 non-null  object
 19  Subtotal                16133 non-null  int64
 20  Status                  16133 non-null  object
 21  Metode Pembayaran       16133 non-null  object
 22  Tipe                    16133 non-null  object
 23                          16133 non-null  object
 24                          16133 non-null  object
 25  Month                   16133 non-null  int64
 26  Years                   16133 non-null  int64
 27  Grouped                 16133 non-null  object
dtypes: int64(5), object(23)
memory usage: 3.6+ MB

In [14]:
df['Diskon Transaksi'] = df['Diskon Transaksi'].replace({',':'.'}, regex = True)

In [15]:
df['Diskon Per Barang'] = df['Diskon Per Barang'].astype(float)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16133 entries, 8 to 16978
Data columns (total 28 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   No Faktur               16133 non-null  object
 1   Tanggal                 16133 non-null  object
 2   Nama Outlet             16133 non-null  object
 3   Nama Kasir              16133 non-null  object
 4   Jam                     16133 non-null  object
 5   Kategori                16133 non-null  object
 6   Deskripsi Produk        16133 non-null  object
 7   Produk                  16133 non-null  object
 8   Ice or Hot              16133 non-null  object
 9   Modifier                16133 non-null  object
 10  Jumlah Barang           16133 non-null  int64
 11  Jumlah dibatalkan       16133 non-null  object
 12  Harga Per Barang        16133 non-null  object
 13  Jumlah Harga            16133 non-null  int64
 14  Diskon Per Barang       16133 non-null  float64
 15  Tipe Diskon per Barang  16133 non-null  object
 16  Diskon Transaksi        16133 non-null  object
 17  Tipe Diskon Transaksi   16133 non-null  object
 18  Pajak                   16133 non-null  object
 19  Subtotal                16133 non-null  int64
 20  Status                  16133 non-null  object
 21  Metode Pembayaran       16133 non-null  object
 22  Tipe                    16133 non-null  object
 23                          16133 non-null  object
 24                          16133 non-null  object
 25  Month                   16133 non-null  int64
 26  Years                   16133 non-null  int64
 27  Grouped                 16133 non-null  object
dtypes: float64(1), int64(5), object(22)
memory usage: 3.6+ MB

In [17]:
df.groupby(['Month', 'Years']).describe()

            Jumlah Barang                                                \
                    count      mean       std  min  25%  50%  75%   max
Month Years
1     2021          663.0  1.082956  0.311990  1.0  1.0  1.0  1.0   4.0
      2022         1281.0  1.085870  0.395832  1.0  1.0  1.0  1.0   9.0
2     2021          707.0  1.115983  0.381011  1.0  1.0  1.0  1.0   4.0
      2022         1054.0  1.072106  0.335491  1.0  1.0  1.0  1.0   7.0
3     2021          855.0  1.146199  0.524265  1.0  1.0  1.0  1.0   7.0
      2022          996.0  1.093373  0.370137  1.0  1.0  1.0  1.0   5.0
4     2021          536.0  1.074627  0.296443  1.0  1.0  1.0  1.0   4.0
      2022          536.0  1.160448  0.564033  1.0  1.0  1.0  1.0   7.0
6     2021           31.0  1.193548  0.477448  1.0  1.0  1.0  1.0   3.0
7     2020          290.0  1.096552  0.329078  1.0  1.0  1.0  1.0   3.0
      2021          441.0  1.104308  0.407882  1.0  1.0  1.0  1.0   5.0
8     2020          740.0  1.144595  0.455798  1.0  1.0  1.0  1.0   5.0
      2021          740.0  1.114865  0.384469  1.0  1.0  1.0  1.0   5.0
9     2020          708.0  1.155367  0.471102  1.0  1.0  1.0  1.0   5.0
      2021          590.0  1.125424  0.356170  1.0  1.0  1.0  1.0   3.0
10    2020          593.0  1.161889  0.647838  1.0  1.0  1.0  1.0  10.0
      2021          883.0  1.107588  0.376129  1.0  1.0  1.0  1.0   5.0
11    2020          574.0  1.109756  0.373852  1.0  1.0  1.0  1.0   4.0
      2021         1908.0  1.104298  0.369416  1.0  1.0  1.0  1.0   5.0
12    2020          516.0  1.096899  0.366445  1.0  1.0  1.0  1.0   5.0
      2021         1491.0  1.099262  0.378366  1.0  1.0  1.0  1.0   5.0

            Jumlah Harga                ... Diskon Per Barang           \
                   count          mean  ...               75%      max
Month Years                             ...
1     2021         663.0  13297.737557  ...               0.0   4000.0
      2022        1281.0  17249.024200  ...               0.0      0.0
2     2021         707.0  13549.660537  ...               0.0      0.0
      2022        1054.0  16901.328273  ...               0.0      0.0
3     2021         855.0  13724.994152  ...               0.0      0.0
      2022         996.0  17445.783133  ...               0.0      0.0
4     2021         536.0  13265.652985  ...               0.0      0.0
      2022         536.0  16481.343284  ...               0.0   3000.0
6     2021          31.0  17993.548387  ...               0.0   3000.0
7     2020         290.0  13062.068966  ...               0.0      0.0
      2021         441.0  17662.131519  ...               0.0   6000.0
8     2020         740.0  14014.864865  ...               0.0  10500.0
      2021         740.0  18697.702703  ...               0.0   5000.0
9     2020         708.0  14494.350282  ...               0.0   5000.0
      2021         590.0  18521.016949  ...               0.0      0.0
10    2020         593.0  13276.053963  ...               0.0      0.0
      2021         883.0  18739.686297  ...               0.0   3000.0
11    2020         574.0  13216.419861  ...               0.0   3000.0
      2021        1908.0  16726.169287  ...               0.0   3000.0
12    2020         516.0  13261.870155  ...               0.0   1000.0
      2021        1491.0  17010.731053  ...               0.0   6000.0

            Subtotal                                                       \
               count          mean          std     min      25%      50%
Month Years
1     2021     663.0  13094.193062  5377.065627     0.0  12000.0  14000.0
      2022    1281.0  17199.141296  6700.912313  4000.0  15000.0  17000.0
2     2021     707.0  13523.495050  5131.375491     0.0  12000.0  12160.0
      2022    1054.0  16761.290323  5835.985612     0.0  15000.0  17000.0
3     2021     855.0  13721.485380  6782.014600     0.0  12000.0  12160.0
      2022     996.0  17319.176707  6488.656548     0.0  15000.0  17000.0
4     2021     536.0  13236.736940  4657.905424     0.0  12000.0  14000.0
      2022     536.0  16331.902985  6921.150633     0.0  12000.0  15000.0
6     2021      31.0  15264.483871  6753.330950  1600.0  12000.0  14000.0
7     2020     290.0  13062.068966  4761.757533  7000.0  11250.0  14000.0
      2021     441.0  14482.727891  7049.681098     0.0  11900.0  15000.0
8     2020     740.0  11073.585135  4453.068395  5250.0   9000.0  10500.0
      2021     740.0  18309.187838  7573.056625     0.0  15000.0  17000.0
9     2020     708.0  14466.103107  6090.010012     0.0  12000.0  14000.0
      2021     590.0  18116.777966  7280.588296     0.0  15000.0  17000.0
10    2020     593.0  13276.053963  6434.333053     0.0  10000.0  12000.0
      2021     883.0  18533.173273  6844.813642     0.0  15000.0  18000.0
11    2020     574.0  13067.465157  5118.724914     0.0  12000.0  12500.0
      2021    1908.0  16668.098008  6184.176355     0.0  15000.0  15000.0
12    2020     516.0  13151.598837  5943.235165     0.0  11012.0  14000.0
      2021    1491.0  16996.646546  6360.775523     0.0  14000.0  16000.0


                 75%       max
Month Years
1     2021   14000.0   45000.0
      2022   18000.0  135000.0
2     2021   14000.0   48000.0
      2022   18000.0  105000.0
3     2021   14000.0   98000.0
      2022   18000.0   75000.0
4     2021   14000.0   48000.0
      2022   18000.0   90000.0
6     2021   15000.0   36562.0
7     2020   14000.0   36000.0
      2021   17000.0   60000.0
8     2020   10749.5   45000.0
      2021   20100.0   81600.0
9     2020   14000.0   60000.0
      2021   19550.0   58650.0
10    2020   14000.0   70000.0
      2021   19550.0   72000.0
11    2020   14000.0   48000.0
      2021   17000.0   75000.0
12    2020   14000.0   50000.0
      2021   18000.0   75000.0

[21 rows x 32 columns]

In [18]:
df.isna().sum()

No Faktur                 0
Tanggal                   0
Nama Outlet               0
Nama Kasir                0
Jam                       0
Kategori                  0
Deskripsi Produk          0
Produk                    0
Ice or Hot                0
Modifier                  0
Jumlah Barang             0
Jumlah dibatalkan         0
Harga Per Barang          0
Jumlah Harga              0
Diskon Per Barang         0
Tipe Diskon per Barang    0
Diskon Transaksi          0
Tipe Diskon Transaksi     0
Pajak                     0
Subtotal                  0
Status                    0
Metode Pembayaran         0
Tipe                      0
                          0
                          0
Month                     0
Years                     0
Grouped                   0
dtype: int64